## .NET / Visual Studio
bin/
obj/
publish/
*.user
*.suo
*.cache
*.vs/
.vs/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## NuGet
*.nupkg
**/packages/*

## IDE
.idea/
.vscode/
*.swp
*.swo

## Release archives
*.zip
